<!-- sections/feature-row.liquid -->
<div class="full-width">
  <div class="page-width">
    {% include 'section-header' %}
  </div>
  {% include 'feature-row' %}
</div>


{% schema %}
{
  "name": "Image with text",
  "class": "index-section feature-row-section section-padding",
  "settings": [
    {
      "type": "header",
      "content": "Section header"
    },
    {
      "type": "text",
      "id": "title",
      "label": "Heading",
      "default": "Feature row"
    },
    {
      "type": "text",
      "id": "sub_title",
      "label": "Subtitle",
      "default": "Subtitle"
    }
  ],
  "blocks":[
    {
      "type": "row",
      "name": "Row",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        },
        {
          "type": "select",
          "id": "layout",
          "label": "Image alignment",
          "default": "left",
          "options": [
            {
              "value": "left",
              "label": "Left"
            },
            {
              "value": "right",
              "label": "Right"
            }
          ]
        },
        {
          "type": "text",
          "id": "heading",
          "label": "Heading",
          "default": "Image with text"
        },
        {
          "type": "richtext",
          "id": "text",
          "label": "Text",
          "default": "<p>Pair large text with an image to give focus to your chosen product, collection, or blog post. Add details on availability, style, or even provide a review.</p>"
        },
        {
          "type": "text",
          "id": "button_label",
          "label": "Button label"
        },
        {
          "type": "url",
          "id": "button_link",
          "label": "Button link"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Image with text",
      "category": "Image"
    }
  ]
}
{% endschema %}
