<div class="page-width">
  {% if section.settings.title != blank %}
  <div class="section-header text-center">
    <h2>{{ section.settings.title | escape }}</h2>
    {% if section.settings.sub_title != blank %}
    <p class="sub-title">{{ section.settings.sub_title }}</p>
    {% endif %}
    {% if section.settings.text != blank %}
    <div class="text">{{ section.settings.text }}</div>
    {% endif %}
  </div>
  {% endif %}
</div>
<div class="full-width">
  {% include 'feature-collections' %}
</div>

{% schema %}
  {
    "name": "Feature collections",
	"class": "feature-collections-section",
    "settings": [
      {
        "type": "text",
        "id": "title",
        "label": "Title",
        "default": "Title"
      },
	  {
        "type": "text",
        "id": "sub_title",
        "label": "Subtitle",
        "default": "Subtitle"
      },
	  {
        "type": "richtext",
        "id": "text",
        "label": "Text",
		"default": "<p>Text goes here.</p>"
      }
	],
    "blocks":[
      {
        "type": "row",
        "name": "Row",
        "settings": [
          {
            "type": "image_picker",
            "id": "image",
            "label": "Image"
          },
          {
            "type": "select",
            "id": "layout",
            "label": "Image alignment",
            "default": "left",
            "options": [
              {
                "value": "left",
                "label": "Left"
              },
              {
                "value": "right",
                "label": "Right"
              }
            ]
          },
          {
            "type": "color",
            "id": "background_color",
            "label": "Background color",
            "default": "#F7E6D2"
          },
          {
            "type": "text",
            "id": "heading",
            "label": "Heading",
            "default": "Image with text"
          },
          {
            "type": "text",
            "id": "block_sub_title",
            "label": "Subtitle",
            "default": "Subtitle"
          },
          {
            "type": "richtext",
            "id": "text",
            "label": "Text",
            "default": "<p>Pair large text with an image to give focus to your chosen product, collection, or blog post. Add details on availability, style, or even provide a review.</p>"
          },
          {
            "type": "text",
            "id": "button_label",
            "label": "Button label"
          },
          {
            "type": "url",
            "id": "button_link",
            "label": "Button link"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Feature collections",
        "category": "Advanced layout"
      }
    ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
