<div class="page-width flipping-book-wrapper">
  <div class="grid">
    <div class="grid__item">
      <div class="rte">
        <a href="https://online.flippingbook.com/view/44422147/" class="fbo-embed" data-fbo-id="44422147" data-fbo-lightbox="yes" data-fbo-width="100%" data-fbo-height="600px" data-fbo-version="1" style="max-width: 100%">Hallmark Diamonds Summer Catalog</a><script async defer src="https://online.flippingbook.com/EmbedScriptUrl.aspx?m=redir&hid=44422147"></script>

      </div>
    </div>
  </div>
</div>

<style>
  .site-footer{margin-top:0;}
  .flipping-book-wrapper{padding:0;}
</style>