<div class="grid">
  <div class="grid__item medium-up--one-third">
    <img class="lazyload"
         src="https://cdn.shopify.com/s/files/1/0554/4398/0469/files/f9cff30799c61114d7420ab45e9a4d11.png?v=1617971494"
         data-src="https://cdn.shopify.com/s/files/1/0554/4398/0469/files/f9cff30799c61114d7420ab45e9a4d11.png?v=1617971494"
         data-sizes="auto"
         alt="" />
  </div>
  <div class="grid__item medium-up--one-third">
    <img class="lazyload"
         src="https://cdn.shopify.com/s/files/1/0554/4398/0469/files/ea6c72e744aa911d6e936f850d58d15b2670064.png?v=1617971493"
         data-src="https://cdn.shopify.com/s/files/1/0554/4398/0469/files/ea6c72e744aa911d6e936f850d58d15b2670064.png?v=1617971493"
         data-sizes="auto"
         alt="" />
  </div>
  <div class="grid__item medium-up--one-third">
    <img class="lazyload"
         src="https://cdn.shopify.com/s/files/1/0554/4398/0469/files/BROCHUREBACKIMAGE_a506a4e9-30ec-4a77-b1e6-715c39cebae1.png?v=1617971493"
         data-src="https://cdn.shopify.com/s/files/1/0554/4398/0469/files/BROCHUREBACKIMAGE_a506a4e9-30ec-4a77-b1e6-715c39cebae1.png?v=1617971493"
         data-sizes="auto"
         alt="" />
  </div>
  <div class="grid__item medium-up--one-third">
    <img class="lazyload"
         src="https://cdn.shopify.com/s/files/1/0554/4398/0469/files/Resort_NovaStuds2__02610.1415902405.1280.1280_800x800_c26a91fc-c3f2-4595-9934-87d55ab35086.png?v=1617971494"
         data-src="https://cdn.shopify.com/s/files/1/0554/4398/0469/files/Resort_NovaStuds2__02610.1415902405.1280.1280_800x800_c26a91fc-c3f2-4595-9934-87d55ab35086.png?v=1617971494"
         data-sizes="auto"
         alt="" />
  </div>
  <div class="grid__item medium-up--one-third">
    <img class="lazyload"
         src="https://cdn.shopify.com/s/files/1/0554/4398/0469/files/f9cff30799c61114d7420ab45e9a4d11.png?v=1617971494"
         data-src="https://cdn.shopify.com/s/files/1/0554/4398/0469/files/f9cff30799c61114d7420ab45e9a4d11.png?v=1617971494"
         data-sizes="auto"
         alt="" />
  </div>
  <div class="grid__item medium-up--one-third">
    <img class="lazyload"
         src="https://cdn.shopify.com/s/files/1/0554/4398/0469/files/ea6c72e744aa911d6e936f850d58d15b2670064.png?v=1617971493"
         data-src="https://cdn.shopify.com/s/files/1/0554/4398/0469/files/ea6c72e744aa911d6e936f850d58d15b2670064.png?v=1617971493"
         data-sizes="auto"
         alt="" />
  </div>
</div>