<div class="shop-the-look-bar wow fadeInUp" data-wow-delay="500ms">
  <div class="page-width">
    <div class="bar-wrapper">
      <div class="crown-svg">
        <svg xmlns="http://www.w3.org/2000/svg" width="114" height="97" viewBox="0 0 114 97"><defs><style>.crown-svg .a{fill:#fff;opacity:0;}.crown-svg .b{fill:#6a3c62;stroke: transparent;}</style></defs><g transform="translate(-75.5 31.908)"><rect class="a" width="114" height="97" transform="translate(75.5 -31.908)"/><path class="b" d="M278.059,132.532a4.942,4.942,0,0,1-4.77-4.77,4.771,4.771,0,1,1,9.542,0,4.946,4.946,0,0,1-4.772,4.77m92,7.033c-3.256,7.046-10.53,25.4-13.532,33.94-.248.762-.767.762-1.509.253-6.514-3.517-18.039-4.777-28.816-4.777s-22.307,1.261-28.834,4.777c-.755.509-1.256.509-1.514-.253-3.01-8.54-10.271-26.895-13.522-33.94a4.027,4.027,0,0,1-.511-1.256,1.161,1.161,0,0,1,1.013-1.261,1.666,1.666,0,0,1,1.241,1.015c3.258,5.284,6.767,11.314,10.031,15.332.995,1.008,2.007,2.261,3.765,2.261,1.5,0,3-1.253,3.5-3.514a62.837,62.837,0,0,0-.5-14.079,1.11,1.11,0,0,1,1.008-1.509,1.284,1.284,0,0,1,1.253,1c1.749,4.276,3.511,8.547,6.261,12.061a5.9,5.9,0,0,0,4.524,2.524,6.891,6.891,0,0,0,5.01-2.765c4.258-5.785,5.005-21.11,6.013-28.4a1.255,1.255,0,0,1,2.509,0c1,7.294,1.749,22.618,6.02,28.4a6.846,6.846,0,0,0,5,2.765,5.885,5.885,0,0,0,4.524-2.524c2.757-3.514,4.5-7.785,6.261-12.061a1.292,1.292,0,0,1,1.261-1,1.115,1.115,0,0,1,1,1.509,63.281,63.281,0,0,0-.5,14.079c.5,2.261,2,3.514,3.5,3.514,1.767,0,2.762-1.253,3.762-2.261,3.263-4.018,6.767-10.049,10.031-15.332.261-.506.754-1.015,1.248-1.015a1.154,1.154,0,0,1,1.007,1.261,4.073,4.073,0,0,1-.5,1.256m-71.2-8.788a4.943,4.943,0,0,1-4.76-4.785,4.762,4.762,0,1,1,9.524,0,4.944,4.944,0,0,1-4.765,4.785M326.2,192.109c-11.031,0-28.586-1.762-28.586-8.041s17.555-8.053,28.586-8.053,28.571,1.762,28.571,8.053-17.545,8.041-28.571,8.041m0-12.57c-11.031,0-23.576,2.015-23.576,4.529,0,2.256,12.545,4.271,23.576,4.271s23.558-2.015,23.558-4.271c0-2.514-12.532-4.529-23.558-4.529m0-66.109a4.777,4.777,0,0,1-4.77-4.772,4.758,4.758,0,1,1,9.517,0,4.757,4.757,0,0,1-4.747,4.772m27.315,17.347a4.94,4.94,0,0,1-4.757-4.785,4.757,4.757,0,1,1,9.514,0,4.94,4.94,0,0,1-4.757,4.785m20.808,1.754a4.942,4.942,0,0,1-4.772-4.77,4.768,4.768,0,1,1,9.537,0,4.941,4.941,0,0,1-4.765,4.77" transform="translate(-193.789 -131.828)"/></g></svg>
      </div>
      {% if section.settings.sub_title != blank %}
      <div class="subtitle">
        <p>{{ section.settings.sub_title }}</p>
      </div>
      {% endif %}
      {% if section.settings.title != blank %}
      <div class="title">
        <h2>{{ section.settings.title }}</h2>
      </div>
      {% endif %}
      {% if section.settings.text != blank %}
      <div class="description">
        <h3>
          <span>{{ section.settings.text }}</span>
          <span>
            <svg xmlns="http://www.w3.org/2000/svg" width="13" height="8" viewBox="0 0 13 8"><defs><style>.description .a{fill:#fff;opacity:0;}.description .b{fill:#6a3c62;}</style></defs><g transform="translate(-125.5 -204.092)"><rect class="a" width="13" height="8" transform="translate(125.5 204.092)"/><g transform="translate(137.819 204.371) rotate(90)"><path class="b" d="M.9,11.64a.9.9,0,0,1-.635-1.533L4.55,5.819.264,1.534A.9.9,0,0,1,1.536.263L6.457,5.185a.9.9,0,0,1,0,1.272L1.536,11.378A.9.9,0,0,1,.9,11.64Z" transform="translate(0)"/></g></g></svg>
          </span>
        </h3>
      </div>
      {% endif %}
    </div>
  </div>
</div>