<div class="page-width">
  {% include 'section-header' %}
  <div class="grid">
    <div class="grid__item medium-up--one-third">
      <div class="column text-center">
        <div class="image-wrapper">
          <img class="lazyload"
               src="https://cdn.shopify.com/s/files/1/0554/4398/0469/files/Group_85228.png?v=1617977785"
               data-src="https://cdn.shopify.com/s/files/1/0554/4398/0469/files/Group_85228.png?v=1617977785"
               data-sizes="auto"
               alt="" />
        </div>
        <div class="content">
          <h3>“I love you”</h3>
          <a href="" class="btn btn-secondary">
            Shop the selection
            <svg xmlns="http://www.w3.org/2000/svg" width="10" height="14" class="icon-arrow" viewBox="0 0 10 14"><defs><style>.bnsl-arr-a{fill:#fff;opacity:0;}.bnsl-arr-b{fill:#6a3c62;}</style></defs><g transform="translate(-290.602 -2970.5)"><rect class="bnsl-arr-a" width="10" height="14" transform="translate(290.602 2970.5)"></rect><g transform="translate(7122.689 1734.388)"><path class="bnsl-arr-b" d="M471.717,1700.012a.826.826,0,0,1-.584-1.41l3.94-3.942-3.94-3.941a.827.827,0,0,1,1.169-1.169l4.526,4.526a.828.828,0,0,1,0,1.169l-4.526,4.526A.829.829,0,0,1,471.717,1700.012Z" transform="translate(-7301.116 -451.686)"></path></g></g></svg>
          </a>
        </div>
      </div>
    </div>
    <div class="grid__item medium-up--one-third">
      <div class="column text-center">
        <div class="image-wrapper">
          <img class="lazyload"
               src="https://cdn.shopify.com/s/files/1/0554/4398/0469/files/AdobeStock_112733733_Preview.png?v=1617977785"
               data-src="https://cdn.shopify.com/s/files/1/0554/4398/0469/files/AdobeStock_112733733_Preview.png?v=1617977785"
               data-sizes="auto"
               alt="" />
        </div>
        <div class="content">
          <h3>“You did it!”</h3>
          <a href="" class="btn btn-secondary">
            Shop the selection
            <svg xmlns="http://www.w3.org/2000/svg" width="10" height="14" class="icon-arrow" viewBox="0 0 10 14"><defs><style>.bnsl-arr-a{fill:#fff;opacity:0;}.bnsl-arr-b{fill:#6a3c62;}</style></defs><g transform="translate(-290.602 -2970.5)"><rect class="bnsl-arr-a" width="10" height="14" transform="translate(290.602 2970.5)"></rect><g transform="translate(7122.689 1734.388)"><path class="bnsl-arr-b" d="M471.717,1700.012a.826.826,0,0,1-.584-1.41l3.94-3.942-3.94-3.941a.827.827,0,0,1,1.169-1.169l4.526,4.526a.828.828,0,0,1,0,1.169l-4.526,4.526A.829.829,0,0,1,471.717,1700.012Z" transform="translate(-7301.116 -451.686)"></path></g></g></svg>
          </a>
        </div>
      </div>
    </div>
    <div class="grid__item medium-up--one-third">
      <div class="column text-center">
        <div class="image-wrapper">
          <img class="lazyload"
               src="https://cdn.shopify.com/s/files/1/0554/4398/0469/files/AdobeStock_342998554_Preview.png?v=1617977785"
               data-src="https://cdn.shopify.com/s/files/1/0554/4398/0469/files/AdobeStock_342998554_Preview.png?v=1617977785"
               data-sizes="auto"
               alt="" />
        </div>
        <div class="content">
          <h3>“I believe”</h3>
          <a href="" class="btn btn-secondary">
            Shop the selection
            <svg xmlns="http://www.w3.org/2000/svg" width="10" height="14" class="icon-arrow" viewBox="0 0 10 14"><defs><style>.bnsl-arr-a{fill:#fff;opacity:0;}.bnsl-arr-b{fill:#6a3c62;}</style></defs><g transform="translate(-290.602 -2970.5)"><rect class="bnsl-arr-a" width="10" height="14" transform="translate(290.602 2970.5)"></rect><g transform="translate(7122.689 1734.388)"><path class="bnsl-arr-b" d="M471.717,1700.012a.826.826,0,0,1-.584-1.41l3.94-3.942-3.94-3.941a.827.827,0,0,1,1.169-1.169l4.526,4.526a.828.828,0,0,1,0,1.169l-4.526,4.526A.829.829,0,0,1,471.717,1700.012Z" transform="translate(-7301.116 -451.686)"></path></g></g></svg>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>


{% schema %}
  {
    "name": "Grid slider",
    "class": "grid-slider-section",
    "settings": [
      {
        "type": "text",
        "id": "title",
        "label": "Heading",
        "default": "Heading"
      },
      {
        "type": "text",
        "id": "sub_title",
        "label": "Subtitle",
        "default": "Subtitle"
      }
    ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
