{% if section.settings.title != blank %}
<div class="section-header text-center">
  <h2>{{ section.settings.title | escape }}</h2>
  {% if section.settings.button_label != blank and section.settings.button_link != blank %}
  <a href="{{ section.settings.button_link }}" class="btn btn-inline btn-inline-dark">
    {{ section.settings.button_label }}
    <svg xmlns="http://www.w3.org/2000/svg" width="8" height="13" viewBox="0 0 8 13"><defs><style>.inline-btn-dark-a{fill:#fff;opacity:0;}.inline-btn-dark-b{fill:#293542;}</style></defs><g transform="translate(-291.239 -2970.859)"><rect class="inline-btn-dark-a" width="8" height="13" transform="translate(291.239 2970.859)"></rect><g transform="translate(7122.69 1734.388)"><path class="inline-btn-dark-b" d="M471.717,1700.012a.826.826,0,0,1-.584-1.41l3.94-3.942-3.94-3.941a.827.827,0,0,1,1.169-1.169l4.526,4.526a.828.828,0,0,1,0,1.169l-4.526,4.526A.829.829,0,0,1,471.717,1700.012Z" transform="translate(-7301.116 -451.686)"></path></g></g></svg>
  </a>
  {% endif %}
</div>
{% endif %}
<div class="grid">
  <div class="grid__item medium-up--one-third">
    <div class="column text-center">
      <div class="image-wrapper">
        <img class="lazyload"
             src="https://cdn.shopify.com/s/files/1/0554/4398/0469/files/Group_85228.png?v=1617977785"
             data-src="https://cdn.shopify.com/s/files/1/0554/4398/0469/files/Group_85228.png?v=1617977785"
             data-sizes="auto"
             alt="" />
      </div>
      <div class="content">
        <h3>“I love you”</h3>
        <a href="" class="btn btn-inline btn-inline-dark">
          Shop the selection
          <svg xmlns="http://www.w3.org/2000/svg" width="10" height="14" class="icon-arrow" viewBox="0 0 10 14"><defs><style>.bnsl-arr-a{fill:#fff;opacity:0;}.bnsl-arr-b{fill:#6a3c62;}</style></defs><g transform="translate(-290.602 -2970.5)"><rect class="bnsl-arr-a" width="10" height="14" transform="translate(290.602 2970.5)"></rect><g transform="translate(7122.689 1734.388)"><path class="bnsl-arr-b" d="M471.717,1700.012a.826.826,0,0,1-.584-1.41l3.94-3.942-3.94-3.941a.827.827,0,0,1,1.169-1.169l4.526,4.526a.828.828,0,0,1,0,1.169l-4.526,4.526A.829.829,0,0,1,471.717,1700.012Z" transform="translate(-7301.116 -451.686)"></path></g></g></svg>
        </a>
      </div>
    </div>
  </div>
  <div class="grid__item medium-up--one-third">
    <div class="column text-center">
      <div class="image-wrapper">
        <img class="lazyload"
             src="https://cdn.shopify.com/s/files/1/0554/4398/0469/files/AdobeStock_112733733_Preview.png?v=1617977785"
             data-src="https://cdn.shopify.com/s/files/1/0554/4398/0469/files/AdobeStock_112733733_Preview.png?v=1617977785"
             data-sizes="auto"
             alt="" />
      </div>
      <div class="content">
        <h3>“You did it!”</h3>
        <a href="" class="btn btn-inline btn-inline-dark">
          Shop the selection
          <svg xmlns="http://www.w3.org/2000/svg" width="10" height="14" class="icon-arrow" viewBox="0 0 10 14"><defs><style>.bnsl-arr-a{fill:#fff;opacity:0;}.bnsl-arr-b{fill:#6a3c62;}</style></defs><g transform="translate(-290.602 -2970.5)"><rect class="bnsl-arr-a" width="10" height="14" transform="translate(290.602 2970.5)"></rect><g transform="translate(7122.689 1734.388)"><path class="bnsl-arr-b" d="M471.717,1700.012a.826.826,0,0,1-.584-1.41l3.94-3.942-3.94-3.941a.827.827,0,0,1,1.169-1.169l4.526,4.526a.828.828,0,0,1,0,1.169l-4.526,4.526A.829.829,0,0,1,471.717,1700.012Z" transform="translate(-7301.116 -451.686)"></path></g></g></svg>
        </a>
      </div>
    </div>
  </div>
  <div class="grid__item medium-up--one-third">
    <div class="column text-center">
      <div class="image-wrapper">
        <img class="lazyload"
             src="https://cdn.shopify.com/s/files/1/0554/4398/0469/files/AdobeStock_342998554_Preview.png?v=1617977785"
             data-src="https://cdn.shopify.com/s/files/1/0554/4398/0469/files/AdobeStock_342998554_Preview.png?v=1617977785"
             data-sizes="auto"
             alt="" />
      </div>
      <div class="content">
        <h3>“I believe”</h3>
        <a href="" class="btn btn-inline btn-inline-dark">
          Shop the selection
          <svg xmlns="http://www.w3.org/2000/svg" width="10" height="14" class="icon-arrow" viewBox="0 0 10 14"><defs><style>.bnsl-arr-a{fill:#fff;opacity:0;}.bnsl-arr-b{fill:#6a3c62;}</style></defs><g transform="translate(-290.602 -2970.5)"><rect class="bnsl-arr-a" width="10" height="14" transform="translate(290.602 2970.5)"></rect><g transform="translate(7122.689 1734.388)"><path class="bnsl-arr-b" d="M471.717,1700.012a.826.826,0,0,1-.584-1.41l3.94-3.942-3.94-3.941a.827.827,0,0,1,1.169-1.169l4.526,4.526a.828.828,0,0,1,0,1.169l-4.526,4.526A.829.829,0,0,1,471.717,1700.012Z" transform="translate(-7301.116 -451.686)"></path></g></g></svg>
        </a>
      </div>
    </div>
  </div>
</div>