<div class="page-wishlist">
  <div class="page-width">
    <div class="breadcrumb">
      <a href="">Home</a>
      <span class="separator"></span>
      <span>Wishlist</span>
    </div>
    <div class="section-header text-center">
      <h1>{{ page.title }}</h1>
    </div>
  </div>
  <div class="page-width">
    <div class="grid">
      <div class="grid__item medium-up--one-third small--one-half">
        <div class="product-card text-center">
          <a href="" class="remove-btn">
            <svg xmlns="http://www.w3.org/2000/svg" width="34" height="34" viewBox="0 0 34 34"><defs><style>.wishlist-remove-a{fill:#fff;opacity:0;}.wishlist-remove-b{fill:#dcdee2;}.wishlist-remove-c{fill:none;stroke:#f8f8f8;stroke-linecap:round;stroke-width:1.5px;}</style></defs><g transform="translate(-361 -313)"><rect class="wishlist-remove-a" width="34" height="34" transform="translate(361 313)"/><g transform="translate(-628.746 11.178)"><circle class="wishlist-remove-b" cx="13" cy="13" r="13" transform="translate(993.745 305.822)"/><line class="wishlist-remove-c" y2="11.138" transform="translate(1010.818 315.024) rotate(47)"/><line class="wishlist-remove-c" y2="11.138" transform="translate(1010.544 322.894) rotate(137)"/></g></g></svg>
          </a>
          <div class="product-image">
            <img class="lazyload"
                 src="https://cdn.shopify.com/s/files/1/0554/4398/0469/files/Screenshot_2021-04-09_at_4.05.51_PM.png?v=1618816021"
                 data-src="https://cdn.shopify.com/s/files/1/0554/4398/0469/files/Screenshot_2021-04-09_at_4.05.51_PM.png?v=1618816021"
                 data-sizes="auto"
                 alt="" />
          </div>
          <div class="product-info">
            <p>Diamond collection</p>
            <h3>Round Diamond Wedding Band</h3>
            <div class="price">
              <span class="price-item">$599</span>
              <p class="price-note medium-up--hide">*(See members-only price)</p>
            </div>
            <a href="" class="btn btn-secondary">+ Add to bag</a>
          </div>
        </div>
      </div>
      <div class="grid__item medium-up--one-third small--one-half">
        <div class="product-card text-center">
          <a href="" class="remove-btn">
            <svg xmlns="http://www.w3.org/2000/svg" width="34" height="34" viewBox="0 0 34 34"><defs><style>.wishlist-remove-a{fill:#fff;opacity:0;}.wishlist-remove-b{fill:#dcdee2;}.wishlist-remove-c{fill:none;stroke:#f8f8f8;stroke-linecap:round;stroke-width:1.5px;}</style></defs><g transform="translate(-361 -313)"><rect class="wishlist-remove-a" width="34" height="34" transform="translate(361 313)"/><g transform="translate(-628.746 11.178)"><circle class="wishlist-remove-b" cx="13" cy="13" r="13" transform="translate(993.745 305.822)"/><line class="wishlist-remove-c" y2="11.138" transform="translate(1010.818 315.024) rotate(47)"/><line class="wishlist-remove-c" y2="11.138" transform="translate(1010.544 322.894) rotate(137)"/></g></g></svg>
          </a>
          <div class="product-image">
            <img class="lazyload"
                 src="https://cdn.shopify.com/s/files/1/0554/4398/0469/files/Screenshot_2021-04-09_at_4.05.51_PM.png?v=1618816021"
                 data-src="https://cdn.shopify.com/s/files/1/0554/4398/0469/files/Screenshot_2021-04-09_at_4.05.51_PM.png?v=1618816021"
                 data-sizes="auto"
                 alt="" />
          </div>
          <div class="product-info">
            <p>Diamond collection</p>
            <h3>Round Diamond Wedding Band</h3>
            <div class="price">
              <span class="price-item">$599</span>
              <p class="price-note medium-up--hide">*(See members-only price)</p>
            </div>
            <a href="" class="btn btn-secondary">+ Add to bag</a>
          </div>
        </div>
      </div>
      <div class="grid__item medium-up--one-third small--one-half">
        <div class="product-card text-center">
          <a href="" class="remove-btn">
            <svg xmlns="http://www.w3.org/2000/svg" width="34" height="34" viewBox="0 0 34 34"><defs><style>.wishlist-remove-a{fill:#fff;opacity:0;}.wishlist-remove-b{fill:#dcdee2;}.wishlist-remove-c{fill:none;stroke:#f8f8f8;stroke-linecap:round;stroke-width:1.5px;}</style></defs><g transform="translate(-361 -313)"><rect class="wishlist-remove-a" width="34" height="34" transform="translate(361 313)"/><g transform="translate(-628.746 11.178)"><circle class="wishlist-remove-b" cx="13" cy="13" r="13" transform="translate(993.745 305.822)"/><line class="wishlist-remove-c" y2="11.138" transform="translate(1010.818 315.024) rotate(47)"/><line class="wishlist-remove-c" y2="11.138" transform="translate(1010.544 322.894) rotate(137)"/></g></g></svg>
          </a>
          <div class="product-image">
            <img class="lazyload"
                 src="https://cdn.shopify.com/s/files/1/0554/4398/0469/files/Screenshot_2021-04-09_at_4.05.51_PM.png?v=1618816021"
                 data-src="https://cdn.shopify.com/s/files/1/0554/4398/0469/files/Screenshot_2021-04-09_at_4.05.51_PM.png?v=1618816021"
                 data-sizes="auto"
                 alt="" />
          </div>
          <div class="product-info">
            <p>Diamond collection</p>
            <h3>Round Diamond Wedding Band</h3>
            <div class="price">
              <span class="price-item">$599</span>
              <p class="price-note medium-up--hide">*(See members-only price)</p>
            </div>
            <a href="" class="btn btn-secondary">+ Add to bag</a>
          </div>
        </div>
      </div>
    </div>
    <a href="" class="btn btn-secondary view-more">View more</a>
  </div>
</div>